The Apple stock information is provided in APPL_Group.txt from 1/04/2020 until 1/04/2022. This file includes various information such as date, opening value, the highest value of the day, the lowest value of the day, closing value, and volume. You should write a program that reads this file and analyse various information. The information in .txt file must be extracted and transferred to suitable lists.

Part 1: The program will list the analysed data in the following form:Once the modelling has been run, the user should have the option to run it again. Each time it is run, the output should be saved to disk with the following filename:
report_s.txt, where s is a number returned by int(time.time() ) (time.time() is a function from the time module, which you will need to import). This returns the number of seconds since 1/1/70 so that each value of s will be a unique
timestamp. For example, the file may look like this: report_1586386072.txt.

Part 2: In addition, your program must be able to visualise the information. The user should be able to choose the year and see two liner graphs based on monthly averages of trade volume and monthly averages of closing value

In [54]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
max_temp = df.groupby(['year'])["Volume"].max()
max_temp_2 = sum(max_temp)
print(max_temp)
print(max_temp_2)

year
2020    374336800
2021    195432700
2022    179935700
Name: Volume, dtype: int64
749705200

In [55]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
min_temp = df.groupby(['year'])["Volume"].min()
print(min_temp)

year
2020    46691300
2021    41000000
2022    61177400
Name: Volume, dtype: int64

In [5]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
lowest_temp = df.groupby(['year'])["Low"].min()
print(lowest_temp)

year
2020     71.462502
2021    116.209999
2022    150.100006
Name: Low, dtype: float64

In [14]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
highest_temp = df.groupby(['year'])["High"].max()
print(highest_temp)

year
2020    138.789993
2021    182.130005
2022    182.940002
Name: High, dtype: float64

In [44]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
highest_temp = df.iloc[df.groupby(['year'])['High'].idxmax()]
print(highest_temp)

           Date        Open        High         Low       Close   Adj Close  \
167  2020-12-29  138.050003  138.789993  134.339996  134.869995  133.873093
408  2021-12-13  181.119995  182.130005  175.529999  175.740005  175.516388
423  2022-01-04  182.630005  182.940002  179.119995  179.699997  179.471344

        Volume   new_date  year
167  121047300 2020-12-29  2020
408  153237000 2021-12-13  2021
423   99310400 2022-01-04  2022

In [43]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
lowest_temp = df.iloc[df.groupby(['year'])['Low'].idxmin()]
print(lowest_temp)

           Date        Open        High         Low       Close   Adj Close  \
0    2020-05-01   71.562500   74.750000   71.462502   72.267502   71.287926
213  2021-03-08  120.930000  121.000000  116.209999  116.360001  115.672501
470  2022-03-14  151.449997  154.119995  150.100006  150.619995  150.619995

        Volume   new_date  year
0    240616800 2020-05-01  2020
213  154376600 2021-03-08  2021
470  108732100 2022-03-14  2022

In [59]:
import pandas as pd
data = [[max_temp,"","",max_temp_2], [3,4,5,6],[5,6,7,8]]
pd.DataFrame(data, columns=["2020", "2021", "2022","Total"])

                                                2020 2021 2022      Total
0  year
2020    374336800
2021    195432700
2022 ...            749705200
1                                                  3    4    5          6
2                                                  5    6    7          8