The Apple stock information is provided in APPL_Group.txt from 1/04/2020 until 1/04/2022. This file includes various information such as date, opening value, the highest value of the day, the lowest value of the day, closing value, and volume. You should write a program that reads this file and analyse various information. The information in .txt file must be extracted and transferred to suitable lists.

Part 1: The program will list the analysed data in the following form:Once the modelling has been run, the user should have the option to run it again. Each time it is run, the output should be saved to disk with the following filename:
report_s.txt, where s is a number returned by int(time.time() ) (time.time() is a function from the time module, which you will need to import). This returns the number of seconds since 1/1/70 so that each value of s will be a unique
timestamp. For example, the file may look like this: report_1586386072.txt.

Part 2: In addition, your program must be able to visualise the information. The user should be able to choose the year and see two liner graphs based on monthly averages of trade volume and monthly averages of closing value

In [86]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
Max_Volume = df.groupby(['year'])["Volume"].max()
Max_Volume_Total = sum(Max_Volume)
print(Max_Volume)
print(Max_Volume_Total)

year
2020    374336800
2021    195432700
2022    179935700
Name: Volume, dtype: int64

In [60]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
Min_Volume = df.groupby(['year'])["Volume"].min()
Min_Volume_Total = sum(Min_Volume)
print(Min_Volume)
print(Min_Volume_Total)

year
2020    46691300
2021    41000000
2022    61177400
Name: Volume, dtype: int64
148868700

In [61]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
Lowest_Open = df.groupby(['year'])["Low"].min()
Lowest_Open_Total = sum(Lowest_Open)
print(Lowest_Open)
print(Lowest_Open_Total)

year
2020     71.462502
2021    116.209999
2022    150.100006
Name: Low, dtype: float64
337.772507

In [75]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
Highest_Open = df.groupby(['year'])["High"].max()
Highest_Open_Total = sum(Highest_Open)
print(Highest_Open)
print(Highest_Open_Total)

year
2020    138.789993
2021    182.130005
2022    182.940002
Name: High, dtype: float64
503.86

In [84]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
Lowest_Monthly_Average = df.iloc[df.groupby(['year'])['Low'].min()]
print(Lowest_Monthly_Average)

           Date        Open        High         Low       Close   Adj Close  \
71   2020-08-12  110.497498  113.275002  110.297501  113.010002  111.981476
116  2020-10-15  118.720001  121.199997  118.150002  120.709999  119.611397
150  2020-12-03  123.519997  123.779999  122.209999  122.940002  122.031273

        Volume   new_date  year
71   165598000 2020-08-12  2020
116  112559200 2020-10-15  2020
150   78967600 2020-12-03  2020

In [81]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
df['month']= df['new_date'].dt.month
df['new_date'] >= '2020-01-01')
                     & (df['new_date'] < '2020-12-31'
print(highest_temp)

           Date        Open        High         Low       Close   Adj Close  \
167  2020-12-29  138.050003  138.789993  134.339996  134.869995  133.873093
408  2021-12-13  181.119995  182.130005  175.529999  175.740005  175.516388
423  2022-01-04  182.630005  182.940002  179.119995  179.699997  179.471344

        Volume   new_date  year  month
167  121047300 2020-12-29  2020     12
408  153237000 2021-12-13  2021     12
423   99310400 2022-01-04  2022      1

In [82]:
import pandas as pd
data = [[Max_Volume,"","",Max_Volume_Total],
               ['Lowest_Open',"","",'Lowest_Open_Total'],['Highest_Open',"","",'Highest_Open_Total']]
pd.DataFrame(data, columns =["2020", "2021", "2022","Total"])

,2020,2021,2022,Total
0,year 2020 374336800 2021 195432700 2022 ...,,,749705200
1,Lowest_Open,,,Lowest_Open_Total
2,Highest_Open,,,Highest_Open_Total

In [190]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
highest_temp = df.loc[df.groupby((df['new_date'] >= '2020-01-01')
                    & (df['new_date'] < '2020-12-30'))['Volume'].idxmax()]

highest_temp['new_date']

412   2021-12-17
63    2020-07-31
Name: new_date, dtype: datetime64[ns]

In [192]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
highest_temp = df.loc[df.groupby((df['new_date'] >= '2020-01-01')
                    & (df['new_date'] < '2020-12-30'))['Volume'].idxmax()]

highest_temp_2020 = highest_temp.min
highest_temp_2020()

Date                  2020-07-31
Open                  102.885002
High                  106.415001
Low                   100.824997
Close                 106.260002
Adj Close             105.103401
Volume                 195432700
new_date     2020-07-31 00:00:00
year                        2020
dtype: object

In [193]:
import pandas as pd
import numpy as np
df = pd.read_table("AAPL_Group.txt", delimiter=",")
df['new_date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')
df['year'] = df['new_date'].dt.year
highest_temp = df.loc[df.groupby((df['new_date'] >= '2020-01-01')
                    & (df['new_date'] < '2020-12-30'))['Volume'].idxmax()]

highest_temp_2020 = highest_temp.max
highest_temp_2020()

Date                  2021-12-17
Open                  169.929993
High                  173.470001
Low                   169.690002
Close                 171.139999
Adj Close             170.922241
Volume                 374336800
new_date     2021-12-17 00:00:00
year                        2021
dtype: object